<form #f="ngForm">
  <mat-input-container>
    <input #productTitle matInput type="text" placeholder="Product title" name="title" ngModel>
  </mat-input-container>
  <mat-input-container>
    <input matInput type="text" placeholder="Product price" name="price" ngModel> 
  </mat-input-container>
  <mat-select placeholder="Category" name="category" ngModel>
    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
  </mat-select>
  <button mat-raised-button color="accent" type="submit">
    <mat-icon>search</mat-icon>Search product
  </button>

</form>